{{!< default}}

<main class="content{{#if @blog.logo}} with-header{{/if}}" role="main">

  {{#if @blog.logo}}
  <header id="site-head">
    <h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    {{> header-description}}
  </header>
  {{/if}}

  {{#foreach posts}}

  <article class="preview">
    {{#if feature_image}}
    <div class="preview-image">
      <a href="{{url}}" title="{{title}}"><p><img src="{{img_url feature_image}}" alt="Featured" /></p></a>
    </div>
    {{/if}}
    <header>
      <h1 class="post-title"><a href="{{url}}">{{title}}</a></h1>
      <div class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="dddd, MMMM DD, YYYY"}}</time></div>
    </header>
    <section class="post-excerpt">
      <p>{{excerpt}}&hellip;</p>
      <p class="readmore"><a href="{{url}}">Read this article <i class="fa fa-chevron-circle-right"></i></a></p>
    </section>
  </article>

  {{/foreach}}

  {{pagination}}

</main>